/* ---------- index.html ---------- */
/* nav */
.navbar {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.nav-item{
    padding: 0 15px;
}
.navbar-nav a {
    color: #54595f !important;
    font-size: 17px;
}
#nav_m {
    display: none;
}
.nav_m {
    margin: 0;
}
.navbar {
    background: #fff;
}


/* ---------- profile.html ---------- */
.filterDiv {
    background-color: #2196F3;
    color: #ffffff;
    text-align: center;
    display: none;
    height: 200px;
    width: auto;
  }
  
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    color: #222;
    padding: 12px 16px;
    cursor: pointer;
  }
  
  .btn:hover {
    color: #999;
    outline: none;
    border: none;
  }
  
  .btn.active {
    width: auto;
    border-bottom: 1px solid #ccc;
    color: #999;
  }

  .btn.focus, .btn:focus {
    box-shadow: none !important;
}