/* ---------- index.html ---------- */
/* nav */
.logo img {
    width: 120px;
}
.navbar {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.nav-item{
    padding: 0 15px;
}
.navbar-nav a {
    color: #54595f !important;
    font-size: 17px;
}
#nav_m {
    display: none;
}
.nav_m {
    margin: 0;
}
.navbar {
    background: #fff;
}


/* ---------- profile.html ---------- */
.filterDiv {
    display: none;
    position: relative;
    margin: 5px;
    height: 270px !important;
  }
  
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    color: #222;
    padding: 12px 16px;
    cursor: pointer;
  }
  
  .btn:hover {
    color: #999;
    outline: none;
    border: none;
  }
  
  .btn.active {
    width: auto;
    border-bottom: 1px solid #ccc;
    color: #999;
  }

  .btn.focus, .btn:focus {
    box-shadow: none !important;
}

/* img overlay */
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .filterDiv:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
  }